# CSWGuiInGameGalaxyMap
[[hooks]]
address = 0x00695508
type = "simple"
original_bytes = [0x83, 0xfb, 0x10]
replacement_bytes = [0x83, 0xfb, 0x7f]

[[hooks]]
address = 0x00695837
type = "simple"
original_bytes = [0x83, 0xff, 0x10]
replacement_bytes = [0x83, 0xff, 0x7f]

# CSWPartyTable
## SetPlanetAvailable
[[hooks]]
address = 0x00563b24
type = "simple"
original_bytes = [0x83, 0xf8, 0x10]
replacement_bytes = [0x83, 0xf8, 0x7f]

[[hooks]]
address = 0x00563b29
type = "replace"
original_bytes =	[
						0x8b, 0x54, 0x24, 0x08,	# MOV EDX, dword ptr [ESP + 0x8]
						0x89, 0x54, 0x81, 0x60	# MOV dword ptr [ECX + EAX*4 + 0x60], EDX
					]
replacement_bytes = [
						0x8b, 0x54, 0x24, 0x08, # MOV EDX, dword ptr [ESP + 0x8]
						0x8B, 0x49, 0x60,		# MOV ECX, dword ptr [ECX + 0x60]
						0x89, 0x14, 0x81		# MOV dword ptr [ECX + EAX*4],EDX
					]

## GetPlanetAvailable
[[hooks]]
address = 0x00563b44
type = "simple"
original_bytes = [0x83, 0xf8, 0x10]
replacement_bytes = [0x83, 0xf8, 0x7f]

[[hooks]]
address = 0x00563b49
type = "replace"
original_bytes =	[
						0x8b, 0x44, 0x81, 0x60,	# MOV EAX, dword ptr [ECX + EAX*4 + 0x60]
						0xc2, 0x04, 0x00		# RET 0x4
					]
replacement_bytes = [
						0x8B, 0x49, 0x60,		# MOV ECX, dword ptr [ECX + 0x60]
						0x8B, 0x04, 0x81,		# MOV EAX, dword ptr [ECX + EAX*4]
						0xc2, 0x04, 0x00		# RET 0x4
					]

## SetPlanetSelectable
[[hooks]]
address = 0x00563ae4
type = "simple"
original_bytes = [0x83, 0xf8, 0x10]
replacement_bytes = [0x83, 0xf8, 0x7f]

[[hooks]]
address = 0x00563aed
type = "replace"
original_bytes =	[
						0x89, 0x94, 0x81, 0xa0, 0x00, 0x00, 0x00	# MOV dword ptr [ECX + EAX*0x4 + 0xa0],EDX
					]
replacement_bytes = [
						0x8B, 0x89, 0xA0, 0x00, 0x00, 0x00,			# MOV ECX, dword ptr [ECX + 0xa0]
						0x89, 0x14, 0x81 							# MOV dword ptr [ECX + EAX*4],EDX
					]

## GetPlanetSelectable
[[hooks]]
address = 0x00563b04
type = "simple"
original_bytes = [0x83, 0xf8, 0x10]
replacement_bytes = [0x83, 0xf8, 0x7f]

[[hooks]]
address = 0x00563b09
type = "replace"
original_bytes =	[
						0x8b, 0x84, 0x81, 0xa0, 0x00, 0x00, 0x00	# MOV EAX, dword ptr [ECX + EAX*0x4 + 0xa0]
					]
replacement_bytes = [
						0x8B, 0x89, 0xA0, 0x00, 0x00, 0x00,			# MOV ECX, dword ptr [ECX + 0xa0]
						0x8B, 0x04, 0x81 							# MOV EAX, dword ptr [ECX + EAX*4]
					]

## SetSelectedPlanet
[[hooks]]
address = 0x00563b68
type = "simple"
original_bytes = [0x83, 0xf8, 0x10]
replacement_bytes = [0x83, 0xf8, 0x7f]

[[hooks]]
address = 0x00563b6d
type = "replace"
original_bytes =	[
						0x8b, 0x54, 0x81, 0x60,	# MOV EDX, dword ptr [ECX + EAX*4 + 0x60]
						0x85, 0xd2				# TEST EDX, EDX
					]
replacement_bytes = [
						0x51,					# PUSH ECX
						0x8B, 0x49, 0x60,		# MOV ECX, dword ptr [ECX + 0x60]
						0x8B, 0x14, 0x81,		# MOV EDX, dword ptr [ECX + EAX*4]
						0x59, 					# POP ECX
						0x85, 0xd2				# TEST EDX, EDX
					]

[[hooks]]
address = 0x00563b75
type = "replace"
original_bytes =	[
						0x8b, 0x94, 0x81, 0xa0, 0x00, 0x00, 0x00	# MOV EDX, dword ptr [ECX + EAX*4 + 0xa0]
					]
replacement_bytes = [												
						0x51,										# PUSH ECX
						0x8B, 0x89, 0xA0, 0x00, 0x00, 0x00,			# MOV ECX, dword ptr [ECX + 0xa0]
						0x8B, 0x14, 0x81,							# MOV EDX, dword ptr [ECX + EAX*4]
						0x59 										# POP ECX
					]

## ClearTable
[[hooks]]
address = 0x0056324c
type = "detour"
original_bytes =	[		
						0x8d, 0x86, 0xa0, 0x00, 0x00, 0x00,
						0xb9, 0x10, 0x00, 0x00, 0x00,
						0x89, 0x68, 0xc0,
						0x89, 0x28,
						0x83, 0xc0, 0x04,
						0x49,
						0x75, 0xf5
					]
function = "ClearPlanets"
skip_original_bytes = true
exclude_from_restore = []
[[hooks.parameters]]
source = "esi"
type = "pointer" # CSWPartyTable *

## SaveTableInfo
[[hooks]]
address = 0x00564c05
type = "simple"
original_bytes =	[0x8d, 0x95, 0xa0, 0x00, 0x00, 0x00]
replacement_bytes = [0xe9, 0x65, 0x01, 0x00, 0x00, 0x90]	# JMP 0x00564d6f (bypassing all of the planet mask logic

[[hooks]]
address = 0x00564d8c
type = "simple"
original_bytes =	[0x6a, 0x10]	# PUSH 0x10
replacement_bytes = [0x6a, 0x7f]	# PUSH 0x7f

[[hooks]]
address = 0x00564d9e
type = "simple"
original_bytes =	[0x68, 0x04, 0x92, 0x74, 0x00, 0x52, 0x8d, 0x44, 0x24, 0x1c, 0x50]
replacement_bytes = [0x90, 0x90, 0x90, 0x90, 0x90, 0x90, 0x8d, 0x44, 0x24, 0x14, 0x90]

[[hooks]]
address = 0x00564dab
type = "detour"
original_bytes =	[		
						0xe8, 0xb0, 0xd9, 0xea, 0xff
					]
function = "WritePlanetMask"
skip_original_bytes = true
exclude_from_restore = []
[[hooks.parameters]]
source = "ecx"
type = "pointer" # CResGFF *
[[hooks.parameters]]
source = "eax"
type = "pointer" # CResStruct * 
[[hooks.parameters]]
source = "ebp"
type = "pointer" # CSWPartyTable * 

## LoadTableInfo
[[hooks]]
address = 0x005660a4
type = "simple"
original_bytes =	[
						0x50,
						0x68, 0x04, 0x92, 0x74, 0x00,
						0x8d, 0x4c, 0x24, 0x20,
						0x51
					]
replacement_bytes = [
						0x90, 0x90, 0x90, 0x90, 0x90, 0x90,
						0x8d, 0x44, 0x24, 0x18,				# LEA EAX, [esp+0x18]
						0x90
					]

[[hooks]]
address = 0x005660b1
type = "detour"
original_bytes =	[		
						0xe8, 0x6a, 0xbb, 0xea, 0xff
					]
function = "ReadPlanetMask"
skip_original_bytes = true
exclude_from_restore = []
[[hooks.parameters]]
source = "ecx"
type = "pointer" # CResGFF *
[[hooks.parameters]]
source = "eax"
type = "pointer" # CResStruct * 
[[hooks.parameters]]
source = "ebx"
type = "pointer" # CSWPartyTable * 

[[hooks]]
address = 0x005660d9
type = "simple"
original_bytes =	[0x75, 0x39, 0x33, 0xc0, 0x8d, 0x93, 0xa0, 0x00, 0x00, 0x00]
replacement_bytes = [0xe9, 0x39, 0x90, 0x90, 0x90, 0x90, 0x90, 0x90, 0x90, 0x90] # Bypass all planet mask logic

## Destructor
[[hooks]]
address = 0x00563d44
type = "detour"
original_bytes =	[		
						0x8b, 0xbe, 0x18, 0x01, 0x00, 0x00
					]
function = "DisposePlanets"
skip_original_bytes = false
exclude_from_restore = []
[[hooks.parameters]]
source = "ecx"
type = "pointer" # CSWPartyTable *