# CSWGuiInGameGalaxyMap
[[hooks]]
address = 0x00695508
type = "simple"
original_bytes = [0x83, 0xfb, 0x10]
replacement_bytes = [0x83, 0xfb, 0x7f]

[[hooks]]
address = 0x00695837
type = "simple"
original_bytes = [0x83, 0xff, 0x10]
replacement_bytes = [0x83, 0xff, 0x7f]

