# KotOR 2 GoG Version Aspyr - Function Address Database

versions_sha = "777BEE235A9E8BDD9863F6741BC3AC54BB6A113B62B1D2E4D12BBE6DB963A914"

# ============================================================================
# Global Memory Pointers
# ============================================================================
[global_pointers]
EXO_RESOURCE_MANAGER_PTR = "0x00a11bf0"
GUI_MANAGER_PTR = "0x00a11bfc"
AURORA_PTR = "0x00a11c00"
APP_MANAGER_PTR = "0x00a11c04"
VIRTUAL_MACHINE_PTR = "0x00a11c08"
TLK_TABLE_PTR = "0x00a11c10"
RULES_PTR = "0x00a11c30"
RENDER_AABB = "0x00A29E1C"
RENDER_GUI = "0x00a34c00"
RENDER_WIREFRAME = "0x00a3272c"
RENDER_QA_TRIGGERS = "0x00A190E4"
RENDER_TRIGGERS = "0x00A149B8"
RENDER_PERSONAL_SPACE = "0x00A19114"
RENDER_GOB_BBS = "0x00a2a3d8"

# ============================================================================
# Game Function Addresses (organized by class)
# ============================================================================

[functions.CServerExoApp]
GetObjectArray = "0x0064baa0"
GetCreatureByGameObjectID = "0x0064bb20"
GetPlayerCreatureId = "0x0064c310"

[functions.CGameObjectArray]
GetGameObject = "0x00469c20"

[functions.CSWSCreatureStats]
HasFeat = "0x006f4870"
HasSpell = "0x006f9e40"
AddFeat = "0x007f3b40"
AddKnownSpell = "0x006f4b20"
RemoveFeat = "0x006f4a70"
SetSTRBase = "0x006f2c50"
SetDEXBase = "0x006f2c90"
SetCONBase = "0x006f2cd0"
SetINTBase = "0x006f2da0"
SetWISBase = "0x006f2de0"
SetCHABase = "0x006f2e20"
GetSkillRank = "0x006f4030"
SetSkillRank = "0x006f4640"
SetMovementRate = "0x006f67a0"
GetClass = "0x0048f9b0"

[functions.CVirtualMachine]
StackPopInteger = "0x00640bc0"
StackPopFloat = "0x00640c00"
StackPopVector = "0x00640c40"
StackPopString = "0x00640c90"
StackPopEngineStructure = "0x00640cd0"
StackPopObject = "0x00640d10"
StackPopCommand = "0x00640d50"
StackPushInteger = "0x00640be0"
StackPushFloat = "0x00640c20"
StackPushVector = "0x00640c60"
StackPushString = "0x00640cb0"
StackPushEngineStructure = "0x00640cf0"
StackPushObject = "0x00640d30"
RunScript = "0x00640af0"

[functions.CSWSObject]
AddActionToFront = "0x006a7980"

[functions.CSWSCreature]
GetClientCreature = "0x006a3970"

[functions.CSWItem]
GetBaseItem = "0x004ecc00"

[functions.CSWInventory]
GetItemInSlot = "0x0067a5b0"

[functions.CExoString]
DefaultConstructor = "0x004eaed0"
CStrLenConstructor = "0x00605790"
CStrConstructor = "0x00605680"
Destructor = "0x00605890"

[functions.ConsoleFunc]
IntConstructor = "0x00867880"
StringConstructor = "0x008677e0"
NoParamConstructor = "0x00867740"
Destructor = "0x00867920"

[functions.Other]
AurPostString = "0x00866b40"

# ============================================================================
# Memory Offsets (organized by class/struct)
# ============================================================================

[offsets.CAppManager]
Client = 0x4
Server = 0x8

[offsets.CSWSCreature]
CreatureStats = 0x1198
Inventory = 0x1150
Position = 0x94
Orientation = 0xa0
AreaId = 0x90

[offsets.CSWSCreatureStats]
ClassCount = 0x8d
STRBase = 0xed
DEXBase = 0xef
CONBase = 0xf1
INTBase = 0xf3
WISBase = 0xf5
CHABase = 0xf7

[offsets.CSWCCreature]
Running = 0x3f8

[offsets.CSWSCombatRound]
OnHandAttacks = 0xae0

[offsets.CSWBaseItem]
WeaponWield = 0x8

[offsets.CExoString]
CStr = 0x0
Length = 0x4