# CSWSCreature::CalculateDeathExperience
[[hooks]]
address = 0x004f1a3e
type = "simple"
original_bytes = [0xb8, 0x14, 0x00, 0x00, 0x00]
replacement_bytes = [0xb8, 0x32, 0x00, 0x00, 0x00]

[[hooks]] # Treatment of (Rules->internal).required_exp_per_level
address = 0x004f1a43
type = "simple"
original_bytes = [ 0x0f, 0xb6, 0xd0, 0x3b, 0x4c, 0x96, 0x38 ]
replacement_bytes = [
					0x90,
					0x8b, 0x56, 0x38, # MOV EDX, DWORD PTR [esi+0x38]
					0x3b, 0x0c, 0x82  # CMP ECX, DWORD PTR [edx+eax*4] 
					]

# CServerInfo::CServerInfo
[[hooks]]
address = 0x0054ec5b
type = "simple"
original_bytes = [0xc7, 0x02, 0x14, 0x00, 0x00, 0x00]
replacement_bytes = [0xc7, 0x02, 0x32, 0x00, 0x00, 0x00]

# CSWRules::LoadClassInfo
[[hooks]]
address = 0x0054fe39
type = "replace"
original_bytes = [
					0x0f, 0xb6, 0x4c, 0x24, 0x14,
					0x8a, 0x54, 0x24, 0x18,
					0x03, 0xc3,
					0x88, 0x94, 0x01, 0x83, 0x01, 0x00, 0x00 
				  ]
replacement_bytes = [
					0x8b, 0x4c, 0x24, 0x14, # MOV ECX, DWORD PTR [ESP+0x14]
					0x8a, 0x54, 0x24, 0x18, # MOV DL, BYTE PTR [ESP+0x18]
					0x03, 0xc3, # ADD EAX, EBX
					0x8B, 0x80, 0x84, 0x01, 0x00, 0x00, # MOV EAX, DWORD PTR [EAX+0x184]
					0x88, 0x54, 0x08, 0xFF # MOV BYTE PTR [EAX+ECX*0x1-0x1], DL
					]

[[hooks]]
address = 0x0054fe50
type = "simple"
original_bytes = [0x83, 0xf8, 0x14]
replacement_bytes = [0x83, 0xf8, 0x32]

# CSWRules::CSWRules
[[hooks]]
address = 0x00552c9a
type = "detour"
original_bytes = [0x8d, 0x7e, 0x38, 0xb9, 0x15, 0x00, 0x00, 0x00, 0xf3, 0xab]
function = "InitRequiredExpPerLevel"
skip_original_bytes = true
exclude_from_restore = []
[[hooks.parameters]]
source = "esi"
type = "pointer" # CSWRules* this

[[hooks]]
address = 0x00552f8a
type = "simple"
original_bytes = [0x8d, 0x6e, 0x38]
replacement_bytes = [0x8b, 0x6e, 0x38]

[[hooks]]
address = 0x00552fd6
type = "simple"
original_bytes = [0x83, 0xff, 0x14]
replacement_bytes = [0x83, 0xff, 0x32]

# CSWSCreatureStats::CalculateExpNeededForNextLevel
[[hooks]]
address = 0x005a54a0
type = "simple"
original_bytes =	[0x0f, 0xb6, 0xf0, 0x3b, 0x54, 0xb1, 0x38]
replacement_bytes = [
						0x90,
						0x8B, 0x71, 0x38, # MOV ESI, DWORD PTR [ECX+0x38]
						0x3B, 0x14, 0x86  # CMP EDX, DWORD PTR [ESI+EAX*4]
					]

[[hooks]]
address = 0x005a54aa
type = "simple"
original_bytes = [0x83, 0xf8, 0x14]
replacement_bytes = [0x83, 0xf8, 0x32]

[[hooks]]
address = 0x005a54b3
type = "simple"
original_bytes =	[0x0f, 0xb6, 0xc0, 0x8b, 0x44, 0x81, 0x38]
replacement_bytes = [
						0x90,
						0x8B, 0x71, 0x38, # MOV ESI, DWORD PTR [ECX+0x38]
						0x8B, 0x04, 0x86  # MOV EAX, DWORD PTR [ESI+EAX*4]
					]

# CSWSCreatureStats::GetExpNeededForLevelUp
[[hooks]]
address = 0x005a661d
type = "replace"
original_bytes =	[0x0f, 0xb6, 0xc0, 0x8b, 0x44, 0x81, 0x38]
replacement_bytes = [
						0x56,			  # PUSH ESI
						0x8B, 0x71, 0x38, # MOV ESI, DWORD PTR [ECX+0x38]
						0x8B, 0x04, 0x86, # MOV EAX, DWORD PTR [ESI+EAX*4]
						0x5e			  # POP ESI
					]

# CSWSCreatureStats::CanLevelUp
[[hooks]]
address = 0x005a6826
type = "simple"
original_bytes = [0x0f, 0xb6, 0xd8]
replacement_bytes = [0x90, 0x89, 0xc3] # NOP; MOV EBX, EAX

[[hooks]]
address = 0x005a6842
type = "replace"
original_bytes =	[
						0x0f, 0xb6, 0xc8,
						0xa1, 0x28, 0x3a, 0x7a, 0x00, 
						0x3b, 0x54, 0x88, 0x38
					]
replacement_bytes = [
						0x8B, 0x0D, 0x28, 0x3A, 0x7A, 0x00, # MOV ECX, [Rules]
						0x8B, 0x49, 0x38,					# MOV ECX, dword ptr [ECX+0x38]
						0x3B, 0x14, 0x81					# CMP EDX, dword ptr [ECX+EAX*0x4]
					]

# CSWSCreatureStats::SetExperience
[[hooks]]
address = 0x005af570
type = "simple"
original_bytes = [0x8a, 0xd8]
replacement_bytes = [0x89, 0xc3]

[[hooks]]
address = 0x005af57d
type = "simple"
original_bytes = [0x0f, 0xb6, 0xd3]
replacement_bytes = [0x90, 0x89, 0xda]

[[hooks]]
address = 0x005af588
type = "simple"
original_bytes = [0x84, 0xdb]
replacement_bytes = [0x85, 0xdb]

[[hooks]]
address = 0x005af596
type = "simple"
original_bytes =	[0xfe, 0xcb, 0x0f, 0xb6, 0xc3, 0x8b, 0x44, 0x81, 0x38]
replacement_bytes = [
						0x90, 0x90,
						0x4b,				# DEC EBX
						0x8B, 0x49, 0x38,	# MOV ECX, dword ptr [ECX+0x38]
						0x8B, 0x04, 0x99    # MOV EAX, dword ptr [ECX+EBX*0x4]
					]

[[hooks]]
address = 0x005af5b6
type = "simple"
original_bytes = [0x0f, 0xb6, 0xc3]
replacement_bytes = [0x90, 0x89, 0xd8]

[[hooks]]
address = 0x005af5e2
type = "simple"
original_bytes = [0x0f, 0xb6, 0xcb]
replacement_bytes = [0x90, 0x89, 0xd9]

# CSWSCreatureStats::GetLevel
[[hooks]]
address = 0x005a6049
type = "replace"
original_bytes = [0x8a, 0xc3, 0x5b, 0x5d, 0x83, 0xc4, 0x08]
replacement_bytes = [
						0x0F, 0xB6, 0xC3, # MOVZX EAX, BL
						0x5b,		      # POP EBX
						0x5d,			  # POP EBP
						0x83, 0xc4, 0x08  # ADD ESP, 0x8
					]

# CSWSCreatureStats::AutoLevelup
[[hooks]]
address = 0x005b2871
type = "simple"
original_bytes = [0x0f, 0xb6, 0xc0, 0x8b, 0x74, 0x86, 0x38]
replacement_bytes = [
						0x90,				# NOP
						0x8B, 0x76, 0x38,	# MOV ESI, dword ptr [ESI+0x38]
						0x8B, 0x34, 0x86	# MOV ESI, dword ptr [ESI+EAX*4]
					]

[[hooks]]
address = 0x005b2e65
type = "simple"
original_bytes = [0x0f, 0xb6, 0xc0, 0x3b, 0x74, 0x81, 0x38]
replacement_bytes = [
						0x90,				# NOP
						0x8b, 0x49, 0x38,	# MOV ECX, dword ptr [ECX+0x38]
						0x3b, 0x34, 0x81	# CMP ESI, dword ptr [ECX+EAX*4]
					]

# CSWClass::LoadSpellGainTable
[[hooks]]
address = 0x005bdb19
type = "replace"
original_bytes =	[0x81, 0xc6, 0x14, 0x01, 0x00, 0x00]
replacement_bytes = [
						0x56,								# PUSH ESI
						0x8B, 0xB6, 0x28, 0x01, 0x00, 0x00, # MOV ESI, dword ptr [esi+0x128]
						0x89, 0x75, 0xFC,					# MOV dword ptr [EBP-4], ESI
						0x5E,								# POP ESI
						0x8B, 0xB6, 0x14, 0x01, 0x00, 0x00	# MOV ESI, dword ptr [esi+0x114]
					]

[[hooks]]
address = 0x005bdb87
type = "replace"
original_bytes =	[0x8a, 0x54, 0x24, 0x18, 0x88, 0x56, 0x14]
replacement_bytes = [
						0x8A, 0x54, 0x24, 0x18,	 # MOV DL, byte ptr [ESP + 0x18]
						0x56,					 # PUSH ESI
						0x8B, 0x75, 0xFC,		 # MOV ESI, dword ptr [EBP-4]
						0x88, 0x16,				 # MOV byte ptr [ESI], DL
						0x5E 					 # POP ESI
					]

[[hooks]]
address = 0x005bdb90
type = "simple"
original_bytes =	[0xc6, 0x46, 0x14, 0xff]
replacement_bytes = [0x90, 0x90, 0x90, 0x90]

[[hooks]]
address = 0x005bdb9c
type = "replace"
original_bytes =	[0x47, 0x46, 0x83, 0xff, 0x14]
replacement_bytes = [
						0x47, 			   # INC EDI
						0x46,			   # INC ESI
						0x50,			   # PUSH EAX
						0x8B, 0x45, 0xFC,  # MOV EAX, dword ptr [EBP-4]
						0x40,			   # INC EAX
						0x89, 0x45, 0xFC,  # MOV dword ptr [EBP-4], EAX
						0x58, 			   # POP EAX
						0x83, 0xff, 0x32   # CMP EDI, 0x32
					]

# CSWClass::LoadSpellKnownTable
[[hooks]]
address = 0x005bdd56
type = "simple"
original_bytes =	[0x83, 0xfe, 0x50]
replacement_bytes = [0x83, 0xfe, 0xc8]

[[hooks]]
address = 0x005bdd74
type = "simple"
original_bytes =	[0x6a, 0x50]
replacement_bytes = [0x6a, 0xc8]

[[hooks]]
address = 0x005bdd81
type = "simple"
original_bytes =	[0xb8, 0xec, 0xfe, 0xff, 0xff]
replacement_bytes = [0xb8, 0x00, 0x00, 0x00, 0x00 ]

[[hooks]]
address = 0x005bdd89
type = "simple"
original_bytes =	[0x2b, 0xc3, 0xc7, 0x44, 0x24, 0x0c, 0x00, 0x00, 0x00, 0x00, 0x8d, 0xbb, 0x14, 0x01, 0x00, 0x00]
replacement_bytes = [
						0xc7, 0x44, 0x24, 0x0c, 0x00, 0x00, 0x00, 0x00,	# MOV dword ptr [ESP + 0xc], 0x0
						0x8b, 0xbb, 0x14, 0x01, 0x00, 0x00,				# MOV EDI,[EBX + 0x114]
						0x29, 0xf8										# SUB EAX, EDI
					]

[[hooks]]
address = 0x005bde3e
type = "simple"
original_bytes =	[0x83, 0xf8, 0x14]
replacement_bytes = [0x83, 0xf8, 0x32]

# CSWClass::LoadArmorClassTable
[[hooks]]
address = 0x005bdfa0
type = "simple"
original_bytes =	[0x6a, 0x15]
replacement_bytes = [0x6a, 0x33]

[[hooks]]
address = 0x005bdfe0
type = "simple"
original_bytes =	[0x83, 0xfe, 0x14]
replacement_bytes = [0x83, 0xfe, 0x32]

# CSWGuiInGameCharacter::StartAutoLevelup
[[hooks]]
address = 0x006b0cef
type = "simple"
original_bytes =	[0x8a, 0xd8]
replacement_bytes = [0x89, 0xc3]

[[hooks]]
address = 0x006b0cf9
type = "simple"
original_bytes =	[0xfe, 0xc3]
replacement_bytes = [0x90, 0x43]

[[hooks]]
address = 0x006b0d05
type = "simple"
original_bytes =	[0x0f, 0xb6, 0xcb, 0x3b, 0x74, 0x88, 0x38]
replacement_bytes = [
						0x90,
						0x8B, 0x40, 0x38,	# MOV EAX, dword ptr [EAX + 0x38]
						0x3B, 0x34, 0x98	# CMP ESI, dword ptr [EAX + EBX*0x4]
					]

[[hooks]]
address = 0x006b0d16
type = "simple"
original_bytes =	[0xfe, 0xc3]
replacement_bytes = [0x90, 0x43]

[[hooks]]
address = 0x006b0d18
type = "simple"
original_bytes =	[0x0f, 0xb6, 0xd3, 0x3b, 0x74, 0x90, 0x38]
replacement_bytes = [
						0x90, 0x90, 0x90, 0x90,
						0x3B, 0x34, 0x98 # CMP ESI, dword ptr [EAX + EBX*0x4]
					]

# CSWClass::LoadFeatGain
[[hooks]]
address = 0x005bd07a
type = "replace"
original_bytes =	[0x88, 0x84, 0x1e, 0x50, 0x01, 0x00, 0x00]
replacement_bytes = [
						0x53,								# PUSH EBX
						0x8B, 0x9B, 0x50, 0x01, 0x00, 0x00, # MOV EBX, dword ptr [EBX+0x150]
						0x88, 0x04, 0x33,					# MOV byte ptr [EBX + ESI*0x1], AL
						0x5b
					]

[[hooks]]
address = 0x005bd09b
type = "replace"
original_bytes =	[0x88, 0x84, 0x1e, 0x3c, 0x01, 0x00, 0x00]
replacement_bytes = [
						0x53,								# PUSH EBX
						0x8B, 0x9B, 0x3c, 0x01, 0x00, 0x00, # MOV EBX, dword ptr [EBX+0x13c]
						0x88, 0x04, 0x33,					# MOV byte ptr [EBX + ESI*0x1], AL
						0x5b
					]

[[hooks]]
address = 0x005bd0a3
type = "simple"
original_bytes =	[0x83, 0xfe, 0x14]
replacement_bytes = [0x83, 0xfe, 0x32]

# CSWClass::LoadSavingThrowTable
# Saving throw limit currently at 60 levels
# So not necessary for the MVP
# adjustments will be needed for:
# 0x005bd606
# 0x005bd647
# 0x005bd682
# Such that they access dynamic arrays

# CSWSCreatureStats::CalcLevelUpNumberFeats
[[hooks]]
address = 0x005a6fa1
type = "simple"
original_bytes =	[0x83, 0xfe, 0x14]
replacement_bytes = [0x83, 0xfe, 0x32]

[[hooks]]
address = 0x005a6fa6
type = "replace"
original_bytes =	[0x0f, 0xb6, 0x8c, 0x10, 0x4f, 0x01, 0x00, 0x00]
replacement_bytes = [
						0x8B, 0x8A, 0x50, 0x01, 0x00, 0x00, # MOV ECX, dword ptr [EDX+0x150]
						0x0F, 0xB6, 0x4C, 0x01, 0xFF		# MOVZX ECX, byte ptr [ECX + EAX*0x1 - 1]
					]

[[hooks]]
address = 0x005a6fb9
type = "simple"
original_bytes =	[0x83, 0xfe, 0x14]
replacement_bytes = [0x83, 0xfe, 0x32]

[[hooks]]
address = 0x005a6fc0
type = "replace"
original_bytes =	[0x0f, 0xb6, 0x84, 0x10, 0x3b, 0x01, 0x00, 0x00]
replacement_bytes = [
						0x8B, 0x8A, 0x3C, 0x01, 0x00, 0x00, # MOV ECX, dword ptr [EDX+0x13c]
						0x0F, 0xB6, 0x44, 0x01, 0xFF		# MOVZX EAX, byte ptr [ECX + EAX*0x1 - 1]
					]

# CSWClass::GetRefSaveBonus
# Saving throw limit currently at 60 levels
# So not necessary for the MVP

# CSWClass::GetWillSaveBonus
# Saving throw limit currently at 60 levels
# So not necessary for the MVP

# CSWClass::GetFortSaveBonus
# Saving throw limit currently at 60 levels
# So not necessary for the MVP

# CSWClass::GetSpellGain
[[hooks]]
address = 0x005bcd38
type = "simple"
original_bytes =	[0x3c, 0x14]
replacement_bytes = [0x3c, 0x32]

[[hooks]]
address = 0x005bcd3f
type = "replace"
original_bytes =	[0x8a, 0x94, 0x08, 0x13, 0x01, 0x00, 0x00]
replacement_bytes = [
						0x8B, 0x91, 0x14, 0x01, 0x00, 0x00, # MOV EDX, DWORD PTR [ECX+0x114]
						0x0F, 0xB6, 0x54, 0x02, 0xFF 		# MOVZX EDX, BYTE PTR [EDX+EAX*0x1-1]
					]

[[hooks]]
address = 0x005bcd46
type = "simple"
original_bytes =	[0x03, 0xc1, 0x8a, 0x4c, 0x24, 0x08, 0x3a, 0xca]
replacement_bytes = [
						0x90, 0x90,
						0x8A, 0x44, 0x24, 0x08, # MOV AL, byte ptr [ESP+0x8]
						0x38, 0xD0				# CMP AL, DL
					] 

[[hooks]]
address = 0x005bcd50
type = "replace"
original_bytes =	[0x8a, 0x80, 0x27, 0x01, 0x00, 0x00]
replacement_bytes = [
						0x8B, 0x89, 0x28, 0x01, 0x00, 0x00,	# MOV ECX, dword ptr [ECX+0x128]
						0x0F, 0xB6, 0x44, 0x24, 0x04,		# MOVZX EAX, byte ptr [ESP+0x4]
						0x8A, 0x44, 0x01, 0xFF				# MOV AL, byte ptr [ECX+EAX*0x1-1]
					]

# CSWClass::GetSpellsKnownPerLevel
[[hooks]]
address = 0x005bcd68
type = "simple"
original_bytes =	[0x3c, 0x14]
replacement_bytes = [0x3c, 0x32]

[[hooks]]
address = 0x005bcd73
type = "replace"
original_bytes =	[0x3a, 0x94, 0x08, 0x13, 0x01, 0x00, 0x00]
replacement_bytes = [
						0x51,								# PUSH ECX
						0x8B, 0x89, 0x14, 0x01, 0x00, 0x00,	# MOV ECX, dword ptr [ECX+0x114]
						0x3A, 0x54, 0x01, 0xFF,				# CMP DL, byte ptr [ECX+EAX*0x1-1]
						0x59								# POP ECX
					]

# CSWCLevelUpStats::CalcNumberFeats
[[hooks]]
address = 0x0064902e
type = "simple"
original_bytes =	[0x83, 0xfe, 0x14]
replacement_bytes = [0x83, 0xfe, 0x32]

[[hooks]]
address = 0x00649033
type = "replace"
original_bytes =	[0x0f, 0xb6, 0x94, 0x01, 0x4f, 0x01, 0x00, 0x00]
replacement_bytes = [
						0x50,								# PUSH EAX
						0x8B, 0x80, 0x50, 0x01, 0x00, 0x00,	# MOV EAX, dword ptr [EAX+0x150]
						0x0F, 0xB6, 0x54, 0x08, 0xFF,		# MOVZX EDX, byte ptr [EAX + ECX*0x1 - 1]
						0x58								# POP EAX
					]

[[hooks]]
address = 0x00649046
type = "simple"
original_bytes =	[0x83, 0xfe, 0x14]
replacement_bytes = [0x83, 0xfe, 0x32]

[[hooks]]
address = 0x0064904c
type = "replace"
original_bytes =	[0x0f, 0xb6, 0x84, 0x01, 0x3b, 0x01, 0x00, 0x00]
replacement_bytes = [
						0x8B, 0x80, 0x3C, 0x01, 0x00, 0x00,	# MOV EAX, dword ptr [EAX+0x13c]
						0x0F, 0xB6, 0x44, 0x08, 0xFF		# MOVZX EAX, byte ptr [EAX+ECX*0x1-1]
					]

# CSWClass::CSWClass
[[hooks]]
address = 0x005bcae3
type = "detour"
original_bytes = [
					0x8d, 0x86, 0x83, 0x01, 0x00, 0x00,
					0xb9, 0x14, 0x00, 0x00, 0x00,
					0x33, 0xd2,
					0x88, 0x50, 0xa5,
					0x88, 0x10,
					0x88, 0x50, 0xb9,
					0x88, 0x50, 0xcd,
					0x40,
					0x49,
					0x75, 0xf1
					]
function = "InitOtherClassTables"
skip_original_bytes = true
exclude_from_restore = []
[[hooks.parameters]]
source = "esi"
type = "pointer" # CSWClass* this

[[hooks]]
address = 0x005bcb34
type = "detour"
original_bytes = [
					0x8d, 0x86, 0x14, 0x01, 0x00, 0x00,
					0x89, 0x08,
					0x89, 0x48, 0x04,
					0x89, 0x48, 0x08,
					0x89, 0x48, 0x0c,
					0x89, 0x48, 0x10
				]
function = "InitNumSpellLevels"
skip_original_bytes = true
exclude_from_restore = []
[[hooks.parameters]]
source = "esi"
type = "pointer" # CSWClass* this

[[hooks]]
address = 0x005bcb48
type = "detour"
original_bytes = [
					0x8d, 0x86, 0x28, 0x01, 0x00, 0x00,
					0x89, 0x08,
					0x89, 0x48, 0x04,
					0x89, 0x48, 0x08,
					0x89, 0x48, 0x0c,
					0x89, 0x48, 0x10
				 ]
function = "InitPowerGain"
skip_original_bytes = true
exclude_from_restore = []
[[hooks.parameters]]
source = "esi"
type = "pointer" # CSWClass* this

# CSWClass::GetAttackBonus
# Attack Bonus has a max of 60 right now
# So it is not needed for the MVP

# CSWClass::LoadAttackBonusTable
# Attack Bonus has a max of 60 right now
# So it is not needed for the MVP

# CSWRules::~CSWRules
[[hooks]]
address = 0x005515d2
type = "detour"
original_bytes = [0x5e, 0x5b, 0xc3, 0x90, 0x90]
function = "DisposeRequiredExpPerLevel"
skip_original_bytes = false
exclude_from_restore = []
[[hooks.parameters]]
source = "esi"
type = "pointer" # CSWRules* this

# CSWClass::~CSWClass
[[hooks]]
address = 0x005bcc96
type = "detour"
original_bytes = [0x5e, 0x5b, 0x64, 0x89, 0x0d, 0x00, 0x00, 0x00, 0x00]
function = "DisposeClassTables"
skip_original_bytes = false
exclude_from_restore = []
[[hooks.parameters]]
source = "esi"
type = "pointer" # CSWClass* this